::deep {
    .RedText, .RedText:hover
    {
        color: red;
    }
    .netherlandsFlag {
        background-image: url("https://demos.telerik.com/kendo-ui/content/shared/styles/flags.png");
        background-position: 0 -64px;
    }
}
