@page "/restapi"

@inject IHttpClientFactory httpClientFactory

@using Newtonsoft.Json
@using Data


<div class="container-fluid">

    <div class="row justify-content-center" style="margin-bottom:50px">
        <h3 class="text-center">Consume REST-API</h3>
    </div>
    
    <ListUsers Users=@Users ></ListUsers>
</div>

@code {
    List<User> Users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        
        var apiName = "api/users";

        var client = httpClientFactory.CreateClient("ClientBlazor");
        var httpResponse = await client.GetAsync(apiName);

        if (httpResponse.IsSuccessStatusCode)
        {
            Response responseData = JsonConvert.DeserializeObject<Response>(await httpResponse.Content.ReadAsStringAsync());
            Users = responseData.Users;
            StateHasChanged();
        }
    }
}